body {
	background-color: #ffffff !important;
	overflow-x: hidden;
}

body:not(.frontend) {
	span.label {
		color: #333;
	}

	footer {
		.fa-lg {
    		font-size: 1.85em !important;
    	}
	}
}

.plone-toolbar-left-expanded nav.navbar-default {
    padding-left: 120px;
}

@media (max-width: 769px) {
	.plone-toolbar-left-expanded nav.navbar-default {
	    padding-left: 0;
	}
}

body.frontend {
	article#content {
		margin-bottom: 30px;
	}

	.no-padding {
		padding-left: 0px;
		padding-right: 0px;
	}

	.no-margin {
		margin-left: 0px;
		margin-right: 0px;
	}

	@media (max-width: 768px) {
		.no-padding {
			padding-left: 0px;
			padding-right: 0px;
		}

		.no-margin {
			margin-left: 0px;
			margin-right: 0px;
		}
	}
}

body.template-login_form #content-core, 
body.template-logged_out #content-core {
	max-width: 500px;
}

.alert-warning {
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
}
